@font-face {
    font-family: 'Ewert';
    src: url('/home/ahmed/.local/share/fonts/Ewert-Regular.ttf')
        format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway-semibold';
    src: url('../fonts/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'Raleway-bold';
    src: url('../fonts/Raleway-Bold.ttf');
}
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
@keyframes flipInX {
    from {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
    }
    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) rotateY(-20deg);
        transform: perspective(400px) rotateY(-20deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
    }
    80% {
        -webkit-transform: perspective(400px) rotateY(-5deg);
        transform: perspective(400px) rotateY(5deg);
    }
    to {
        opacity: 1;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(-300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes popIn {
    0% {
        transform: scale(0);
    }
    60% {
        opacity: 1;
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
a {
    color: inherit;
    text-decoration: none;
}

body {
    color: #fff;
    font-family: 'Raleway';
    font-size: 8pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    overflow-x: hidden;
    text-align: center;
}
.non-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.overflow-wrap {
    overflow-x: hidden;
}

.canvas {
    background: url('../img/filler.png') center center/cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

section#home {
    color: #616161;
    line-height: 11pt;
    padding: 70px 0 70px 0;
    position: relative;
}
section#home .container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
    width: 100%;
}
section#home:nth-of-type(1) {
    color: #fff;
    height: calc(100vh + 53px);
    padding: 0 10px;
}
section#home:nth-of-type(1) .highlight {
    font-family: 'Raleway-semibold';
}
section#home:nth-of-type(1) .text {
    font-size: 16pt;
    line-height: 20pt;
    margin: 0 0 20px 0;
    pointer-events: none;
    z-index: 1;
}
section#home:nth-of-type(1) .hexagon {
    transition: transform 0.9s ease-in-out;
}
section#home:nth-of-type(1) .hexagon:hover {
    transform: rotate(540deg);
}
section#home:nth-of-type(1) .button {
    margin-bottom: 53px;
    padding: 12px 40px 12px 15px;
    position: relative;
}
section#home:nth-of-type(1) .button .mdi {
    position: absolute;
    right: 15px;
    top: 11px;
    transition: transform 0.3s;
}
section#home:nth-of-type(1) .button:hover .mdi {
    transform: rotate(90deg);
}

/* ----------------------BUTTON---------------- */

.wrapper {
    display: flex;
    justify-content: center;
}

.overflow-wrap .cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #6225e6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

@media (max-width: 600px) {
    .overflow-wrap .cta {
        padding: 4px 12px;
        font-size: 15px;
    }
    .overflow-wrap .arrow {
        margin-left: 20px !important;
        margin-right: 10px !important;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    .overflow-wrap .cta {
        padding: 8px 20px;
        font-size: 25px;
    }
}

.overflow-wrap .cta:focus {
    outline: none;
}

.overflow-wrap .cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fbc638;
}

.overflow-wrap .cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.overflow-wrap .cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

.overflow-wrap span {
    transform: skewX(15deg);
}

.overflow-wrap span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #fbc638;
    }
    100% {
        fill: white;
    }
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
    background: #f00;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

svg text {
    letter-spacing: 5px;
    stroke: #ffa5d8;
    font-size: 50px;
    font-weight: 700;
    stroke-width: 1;
    animation: textAnimate 5s infinite alternate;
    display: inline;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: hsl(189, 68%, 75%);
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%, 0%);
    }
}

.name {
    color: white;
    -webkit-animation: h2 0.35s infinite;
    animation: textBlink 0.35s infinite;
}

@keyframes textBlink {
    0% {
        text-shadow: 0 0 6px #fff;
    }
    100% {
        text-shadow: 0 0 0px #000;
    }
}
.name {
    color: #fbc638;
    text-transform: uppercase;
    font-weight: bold;
}
